@charset "UTF-8";
#page-view div.page {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-view div.page.currentPage {
    display: block;
}

#page-view {
    display: block;
    width: 100%;
    min-height: 150px;
    /* border: 1px solid #000; */
    margin: 1% 0%;
}